<div class="home">
    <div class="background center">
        <img src="./../../assets/EC-AZUL.png" alt="Blue Background">
    </div>
    <div class="title center">Bem-vindo ao teste front end!</div>
    <div class="description">
        <p>
            Este teste tem como objetivo avaliar e desafiar você. Não é obrigatório realizá-lo completamente, queremos apenas reconhecer seu esforço e potencial para aprender, se adaptar e tomar decisões.
        </p>
    </div>
    <div class="login center">
        <a href="/schedule" class="content">Entrar</a>
    </div>
</div>